@import url('https://fonts.googleapis.com/css2?family=Alata&family=Almarai:wght@300;400;700;800&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Cabin:ital,wght@0,400..700;1,400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Niconne&family=Niramit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&family=Righteous&display=swap');



* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Josefin Sans", sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.973), rgba(0, 0, 0, 0.959)), url(maths.jpg);
}

.container {
    box-shadow: 0px 0px 14px 4px #17191d;
    background: transparent;
    padding: 20px;
    border-radius: 15px;

}

.container .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.container .display input {
    text-align: right;
    flex: 1;
    font-size: 40px;
    box-shadow: none;
}

.calculator input {
    outline: none;
    border: none;
    height: 60px;
    width: 60px;
    background: transparent;
    border-radius: 10px;
    font-size: 22px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.09), 5px 5px 15px rgba(0, 0, 0, 0.2);
    margin: 10px;
    cursor: pointer;
    color: white;
}

.calculator .operator {
    color: #33ffd8;
}

.calculator .equal {
    width: 140px;
}

@media all and (max-width:500px) {

    .container {
        padding: 10px !important;
        border-radius: 15px;
    }

    .container .display {
        display: flex;
        justify-content: flex-end;
        margin: 10px 0;
    }

    .container .display input {
        text-align: right;
        flex: 1;
        font-size: 30px !important;
        box-shadow: none;
    }

    .calculator input {
        outline: none;
        border: none;
        height: 40px;
        width: 40px;
        border-radius: 10px;
        font-size: 20px;
        margin: 10px;
    }

    .calculator .equal {
        width: 105px;
    }

    body {
        height: 90vh;
    }
}